<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ICarEnterSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.201:8090/avc_macau/webservices/CarEnter/start"
                binding="basicHttpBinding" bindingConfiguration="ICarEnterSoapBinding"
                contract="JavaServices.ICarEnter" name="CarEnterPort" />
        </client>
    </system.serviceModel>
</configuration>
